
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

H1 {
  color: red;
  font-size: 50px;
}

.Name {
  display: flex;
  justify-content: center;
}

.aboutMe {
  background-color: grey;
  padding: 1rem;
}

.contactMe { 
  background-color: yellow;
  padding: 1rem;

}

img{
  width: 250px;
  height: auto;
}
.aboutMe {color: yellow;
font-size:18px}
